{% extends 'base.html' %}

{% block title %}My Expenses{% endblock %}

{% block content %}
<h2 style="text-align:center;">My Expenses</h2>

<h3 style="text-align:center;">Total Expense: ₹ {{ total }}</h3>

<h3 style="text-align:center;">Category-wise Expense</h3>

<table style="width:40%; margin:auto;">
    <tr>
        <th>Category</th>
        <th>Total</th>
    </tr>
    {% for c in category_totals %}
    <tr>
        <td>{{ c.category }}</td>
        <td>₹ {{ c.total }}</td>
    </tr>
    {% endfor %}
</table>

<table>
    <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>
    {% for e in expenses %}
    <tr>
        <td>{{ e.expense_date }}</td>
        <td>{{ e.category }}</td>
        <td>{{ e.amount }}</td>
        <td>{{ e.description }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}