{% extends 'base.html' %}
{% block title %}Expenses{% endblock %}

{% block content %}
<h2>Your Expenses</h2>

<form method="post">
    From: <input type="date" name="start_date">
    To: <input type="date" name="end_date">

    Category:
    <input type="text" name="category">

    <button type="submit">Filter</button>
</form>

<br>

<h3>Total Spent: ₹{{ total }}</h3>

<table border="1" width="100%">
    <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>

    {% for exp in expenses %}
    <tr>
        <td>{{ exp.expense_date }}</td>
        <td>{{ exp.category }}</td>
        <td>{{ exp.amount }}</td>
        <td>{{ exp.description }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
